*{
    padding: 0;
    margin: 0;
}


.btn{
    width: 150px;
    height: 150px;
    font-size:150px
}

.container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 30px;
}
.hero-section{
    /* margin-top: 10px; */
    display: flex;
    margin-left: 440px;
    font-size: x-large;
}

/* .player1{
    margin-left: 50px;
} */

.player2{
    margin-left: 540px;
} 

/* .red{
    background-color: brown;
} */
.won1, .won2 , .loss2, .loss1{
    margin: 3px;
    /* font-size: 20px; */
}